<div class="pv4 bg-less-less-dark">
	<div class="ph3 mw7 center">
		<h2 class="f2 b lh-title mb2 primary">{{.heading}}</h2>
		<p class="mb4 mw6 white">{{.description}}</p>

		<div class="flex-ns flex-wrap mhn2-ns mb3 white">
			{{ range .blurbs }}
				<div class="ph2-ns w-50-ns mb4">
					<img src="{{ .image }}" alt="" class="center db mb3 h4a-ns" style="width: 240px">
					<h3 class="f4 b lh-title mb1 primary tc center">Meet {{.name}}</h3>
					<p>{{ .text }}</p>
				</div>
			{{ end }}
		</div>
	</div>
</div>
