<button class="accordion"> <h3 class="f4 b lh-title mb2 primary"> Feedback </h3> </button>
<div class="panel bg-black-4">
<form name="feedback" method="POST" data-netlify="true">
    <p>We appreciate your feedback on our sessions. If there is anything of particular concern, please feel free to contact the head office.</p>
    <p>Name: <input type="textarea" name="Your Name"></input>
    <p>Location: <input type="textarea" name="Location"></input>
    <p>Date: <input type="datetime" name="Date"></input>
    <p>Staff:<br>
      <input type="radio" name="staff" value="Stephen">Stephen</input><br>
      <input type="radio" name="staff" value="James">James</input><br>
      <input type="radio" name="staff" value="Lucy">Lucy</input><br>
    <p>Comments:<br>
    <p><input type="text" name="comments"></input>
    <p><button type="submit">Send</button>
</form>
</div>
