<form name="contact" method="POST" netlify>
  <p>
    <label>Your Name: <input type="text" name="name" /></label>
  </p>
  <p>
    <label>Your Email: <input type="email" name="email" /></label>
  </p>
  <p>
    <label>What did you do?: <select name="role[]" multiple>
      <option value="I took part">Leader</option>
      <option value="I'm a parent">Follower</option>
    </select></label>
  </p>

  <p>
    <label> Which session did you attend?: <input type="text" /></label>
  </p>

  <p>
    <label> How would you describe your experience? <input type="text" /></label>

  </p>

  </p>
  <p>
    <label>Message: <textarea name="message"></textarea></label>
  </p>
  <p>
    <button type="submit">Send</button>
  </p>
</form>
