<footer class="bg-black ph3 pv4 white">

	<section class="mw7 center pt3">

		<section class="flex-ns justify-between">

			<section>
				<h3 class="f4 b lh-title mb1 primary">More Info</h3>
				<ul class="mb3">
					<li><a href="/index" class="link">Home</a></li>
					<li><a href="/products" class="link">Locations</a></li>
					<li><a href="/mobile-gym" class="link">Mobile Gym</a></li>
					<li><a href="/impact" class="link">Our Impact</a></li>
					<li><a href="/post" class="link">Support Us</a></li>
					<li><a href="/news" class="link">News</a><li>
					<li><a href="/test" class="link">Careers</a></li>
				</ul>
			</section>

			<section>
				<h3 class="f4 b lh-title mb1 primary">Head Office</h3>
				<ul class="mb3">
					<li>59 Grosvenor Road,</li>
					<li>Dagenham,</li>
					<li>Essex,</li>
					<li>RM8 1NL<li>
				</ul>

			</section>

			<section>
					<h3 class="f4 b lh-title mb1 primary">Contact Us</h3>
					<ul class="mb3">
						<li> 0208 517 4446 </li>
						<li><a href="mailto:info@boxupcrime.org"> info@boxupcrime.org </a></li>
					</ul>

			</section>

			<section>
				<h3 class="f4 b lh-title mb2 primary">Social media</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "https://www.facebook.com/boxupcrimeuk/" "svg" "icons-facebook") }}
					{{ partial "social-icon" (dict "link" "https://twitter.com/boxupcrime/" "svg" "icons-twitter") }}
					{{ partial "social-icon" (dict "link" "https://www.instagram.com/boxupcrime/" "svg" "icons-instagram") }}
				</ul>
			</section>

		</section>
	</section>

</footer>

{{ partial "svg" . }}

<script src="/app.js"> </script>
<script src="/nav.js"> </script>

</body>

</html>
