<head>

	<title>{{ .Title }} | Box Up Crime</title>
	<link rel="stylesheet" href="/css/main.css" />

	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="https://fonts.googleapis.com/css?family=Assistant" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,700" rel="stylesheet">

	<!-- Favicons -->
	<link rel="apple-touch-icon" sizes="180x180" href="/img/1053353_791342051012496_5657706568267392356_o.jpg">
	<link rel="icon" type="image/png" href="/img/logo-1.jpg" sizes="32x32">
	<link rel="icon" type="image/png" href="/img/logo-1.jpg" sizes="16x16">
	<link rel="manifest" href="/manifest.json">
	<link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#ff4400">
	<meta name="theme-color" content="primary">

	<!-- Open Graph -->
	<meta property="og:type" content="business.business">
	<meta property="og:title" content="Box Up Crime | Rebuilding Misguided Dreams">
	<meta property="og:url" content="/">
	<meta property="og:image" content="/img/1053353_791342051012496_5657706568267392356_o.jpg">

	<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
