<div id="navbar" class="navigation-box closed">

  <!-- --css in styles.css -->
	<ul>
		<li><a href="/"><img class="h2 w-6-ns no-underline v-mid" src="/img/BoxUpCrime-Website-01.png" alt="Logo" ></a></li>

		<li><a href="/programmes" class="pa3 no-underline db-ns">Programmes</a></li>

		<li><a href="/box-up-tv" class="pa3 no-underline db-ns">Box Up TV</a></li>

		<li><a href="/impact" class="pa3 no-underline db-ns">Our Impact</a></li>

		<li><a href="/support" class="pa3 no-underline db-ns">Support Us </a></li>

		<li><a href="/post" class="pa3 no-underline db-ns">News </a></li>

		<li><a href="/vacancies" class="pa3 no-underline db-ns">Careers</a></li>

		<li><a href="/contact" class="pa3 no-underline db-ns">Contact</a></li>

	</ul>

</div>

<div class="content1">
