<nav class="z-999 nav-box nav-box-closed-ns nav-box-closed nav-box-toggle w-80 w-80-ns h-85 h2-and-a-bit-ns top-0-ns bottom-0 overflow-x-scroll overflow-x-visible-ns flex justify-between items-left bg-white o-70 fixed">


	<!-- Primary Nav -->

	<ul class="flex-ns b primary">

		<li><a href="index.html" class="pa3 no-underline db">Home</a></li>

		<li><a href="/index.html#mission" class="pa3 no-underline db">Our Mission</a></li>

		<li><a href="/index.html/#programmes" class="pa3 no-underline db">Our Programmes</a></li>

		<li><a href="#future" class="pa3 no-underline db">Contact</a></li>

		<li><a href="/index.html#footer" class="pa3 no-underline db">More</a></li>

	</ul>
</nav>
