<nav class="nav-box nav-box-closed-ns nav-box-closed nav-box-toggle w-80 w-80-ns h-85 h3-ns top-0-ns bottom-0 overflow-x-scroll overflow-x-visible-ns flex justify-between items-left bg-black fixed">


	<!-- Primary Nav -->

	<ul class="flex-ns b primary">

		<li><a href="index.html" class="pa3 no-underline db">Home</a></li>

		<li><a href="/values" class="pa3 no-underline db">Our Mission</a></li>

		<li><a href="/post" class="pa3 no-underline db">Our Programmes</a></li>

		<li><a href="/contact" class="pa3 no-underline db">Contact</a></li>

	</ul>
</nav>
