{{ define "main" }}

{{ partial "nav-bar" }}

{{ partial "jumbotron-with-title" (dict "imageUrl" "/img/36498718_1455782841235077_3495374617483149312_n.jpg" "title" "Latest stories") }}

<section class="center bg-dark pv4 bb b--primary">

  <ul class="flex-ns flex-wrap mhn1-ns pa3">
      {{ range (.Paginator 4).Pages.ByPublishDate.Reverse }}
          <section class="w-50-ns ph1-ns flex">
            {{ .Render "li"}}
          </section>
      {{ end }}
  </ul>
  {{ partial "pagination" . }}
</section>

{{end}}
