{{ define "main" }}

{{ partial "nav-bar" }}

{{ partial "jumbotron-with-title" (dict "imageUrl" .Params.image "title" .Title) }}

<section class="ph3 bg-white bb b--primary">

	<section class="center mw6 pv3 black ">

		<img src="{{ .Params.logo }}" alt="" class="db w4 center pv4 pa0">

		{{ .Content }}

		<section class="mb3 black">
	        	{{ range .Params.contact_entries }}
				<section>
					<h4 class="f4 b lh-title mb2 primary">{{ .heading }}</h4>
					<p>{{ .text }}</p>
					<p>{{ .contactnumber}}
					<p>{{ .openingtimes}}</p>
				</section>
			{{ end }}
		</section>

	</section>

</section>

{{ end }}
