{{ define "main" }}

{{ partial "mini-jumbotron" (dict "imageUrl" .Params.image) }}

<section class="ph3 bg-dark bb b--primary">

	<section class="center mw6 pv3 white ">

		<h3 class="f4 b lh-title mb2 primary center tc pa0"> Contact Us </h3>

		<img src="{{ .Params.logo }}" alt="" class="db w4 center pv4 pa0">

		{{ .Content }}

		<section class="mb3 white">
	        	{{ range .Params.contact_entries }}
				<section>
					<h4 class="f4 b lh-title mb2 primary">{{ .heading }}</h4>
					<p>{{ .text }}</p>
				</section>
			{{ end }}
		</section>

		{{ partial "feedback" .}}
	</section>

{{	partial "logo" }}

</section>
<script src="/accordion.js"></script>
{{ end }}
