{{ define "main" }}

{{ partial "nav-bar" }}

{{ partial "jumbotron-with-title" (dict "imageUrl" .Params.image "title" .Title) }}

{{ partial "table" .Params.metrics }}

<div class="pb4">
  {{ range .Params.testimonials }}
    {{ partial "blockquote" . }}
  {{ end }}
</div>

{{ partial "4-up" .Params.intro }}

{{ with .Params.main }}
<div class="mw7 pv4 center">
  <div class=" mb3">
    <h3 class="br pr2 pr2-ns bw2-ns f3 b lh-title mb2 pa3 primary tr-ns tr mr3 ">{{ .heading }}</h3>
    <p class="br pr2 pr2-ns bw2-ns tr-ns tr ml7-ns mr3">{{ .description }}</p>
  </div>
</div>

<!-- Image grid -->
{{ partial "image-grid" . }}
{{ end }}

<!-- Full-width image -->


{{ end }}
